web: gunicorn ResourceShare.wsgi --bind 0.0.0.0:$PORT
release: python manage.py migrate
web: python manage.py migrate && python manage.py collectstatic --noinput && gunicorn ResourceShare.wsgi --bind 0.0.0.0:$PORT